In [0]:
%mysql
SELECT v.anio, v.ventaTotal, P.nombreProvincia
FROM Ventas v JOIN Provincias P on P.idProvincia = v.idProvincia
WHERE v.idProvincia = '17' OR v.idProvincia = '09' OR v.idProvincia = '01' OR v.idProvincia = '20' OR v.idProvincia = '11'
ORDER BY 2 DESC;

In [1]:
%mysql
(SELECT COUNT(*), mes_movi, anio_movi
FROM Migrantes INNER JOIN Paises P on Migrantes.idPais = P.idPais
WHERE P.nombrePais != 'Ecuador' AND tip_movi = 'Entrada' AND anio_movi = 2020 AND mot_viam = 'Turismo'
GROUP BY 3,2
ORDER BY  1 DESC
LIMIT 3)
UNION
(SELECT COUNT(*), mes_movi,anio_movi
FROM Migrantes INNER JOIN Paises P on Migrantes.idPais = P.idPais
WHERE P.nombrePais != 'Ecuador' AND tip_movi = 'Entrada' AND anio_movi = 2021 AND mot_viam = 'Turismo'
GROUP BY 3,2
ORDER BY  1 DESC
LIMIT 3);

In [2]:
%sql
SELECT (ventaTotal*1000000)/COUNT(*), provincia
FROM COMERCIALESD
WHERE anio = 2021
GROUP BY provincia, ventaTotal
ORDER BY 1 DESC
LIMIT 5;

In [3]:
%mysql
SELECT m.anio_movi as Anio, P.nombrePais as 'Nacionalidad del Turista' , COUNT(*) as 'Flujo'
FROM Migrantes m INNER JOIN Paises P on m.idPais = P.idPais
WHERE P.nombrePais != 'Ecuador' AND tip_movi = 'Salida' AND mot_viam = 'Turismo'
GROUP BY m.anio_movi, P.nombrePais
ORDER BY 3 DESC
LIMIT 3;

In [4]:
%mysql
SELECT COUNT(*), mot_viam
FROM Migrantes
GROUP BY mot_viam;

In [5]:
%mysql
SELECT COUNT(*), via_tran, anio_movi
FROM Migrantes
GROUP BY via_tran, anio_movi;

In [6]:
%sql
SELECT ((100 * COUNT(email))/ COUNT(*)) AS EMAIL, 
((100 * COUNT(web))/ COUNT(*)) AS WEB, 
((100 * COUNT(ref))/ COUNT(*)) AS REF,
((100 * COUNT(telf1))/ COUNT(*)) AS TELEFONO1,  
((100 * COUNT(telf2))/ COUNT(*)) AS TELEFONO2, provincia
FROM COMERCIALESO
GROUP BY provincia 
ORDER BY COUNT(*) DESC
LIMIT 5;

In [7]:
%%sql